<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/profile"></ion-back-button>
        </ion-buttons>
    <ion-title>bayar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
       
          <ion-list>
              <ion-item>
                  <ion-label position="stacked"> rekening</ion-label>
                  <ion-input required type="text" [(ngModel)]="rekening" name="rekening"></ion-input>
                </ion-item>
            <ion-item>
                <ion-label position="stacked"> bulan</ion-label>
                <ion-input required type="text" [(ngModel)]="bulan" name="bulan"></ion-input>
              </ion-item>

               
                  <br><br><br><br><br><br>
                  <ion-button color="light" type="submit" expand="block" shape="round" (click)="updateProfile()">Update</ion-button>
                  
                  
          </ion-list>
        
      </ion-card>
</ion-content>
