<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/kelas-guru"></ion-back-button>
        </ion-buttons>
    <ion-title>X IPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/add-x-ipa']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab> 

    <ion-card *ngFor="let xipa of xipa">
        <ion-card-header>
          <ion-card-title>{{ xipa.namasiswa }}</ion-card-title>
          <h6>{{ xipa.karakter }}</h6>
        </ion-card-header>
    
          <ion-item-sliding>
            <ion-item color="light">
              <ion-label>{{ xipa.penanganan }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(xipa.id)">
                HAPUS
              </ion-item-option>
              <ion-item-option color="warning" [routerLink]="['/edit-x-ipa/', xipa.id]">
                  EDIT
                </ion-item-option>
                
    
            </ion-item-options>
          </ion-item-sliding>
    
        </ion-card>

</ion-content>
