
<ion-content class="ion-padding">
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="floating"> Nama Lengkap</ion-label>
          <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Nisn</ion-label>
          <ion-input required type="text" [(ngModel)]="nisn" name="nisn"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating"> Jenis Kelamin</ion-label>
            <ion-input required type="text" [(ngModel)]="genre" name="genre"></ion-input>
          </ion-item>
        <ion-item>
            <ion-label position="floating"> Email</ion-label>
            <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating"> Telp</ion-label>
              <ion-input required type="number" [(ngModel)]="phone" name="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Password</ion-label>
                <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
              </ion-item>
              <br><br>
              <div style="text-align: center;">
                  <ion-button color="light" type="submit"   routerLink="/login2">Kembali</ion-button>
                  <ion-button color="light" type="submit"   (click)="register2()">Register</ion-button>
                </div>
      </ion-list>
    </form>
  </ion-card>

</ion-content>
