<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/utama-guru"></ion-back-button>
        </ion-buttons>
    <ion-title class="ion-text-center">Kelas</ion-title>
    <ion-avatar  class="image-center">
        <img name="profile_pic" src="assets/uad.jpg">
      </ion-avatar>   
  </ion-toolbar>
</ion-header>


<ion-content >

    <ion-card routerLink="/x-ipa">
      <ion-img src="assets/bad.jpg"></ion-img>
        <ion-card-content>
         Daftar Siswa Bermasalah
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/daftar-siswa-berprestasi">
        <ion-img src="assets/happy.jpg"></ion-img>
          <ion-card-content>
           Siswa Berprestasi
          </ion-card-content>
        </ion-card>
    
  </ion-content>
