<ion-header>
  <ion-toolbar>
    <ion-title>bimbingan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br><br><br><br><br><br><br><br>
  <ion-button fill="full" shape="round" color="light"  href="http://api.whatsapp.com/send?phone=6283104900840" rel="noopener noreferrer" target="_blank">
    <ion-icon name="logo-whatsapp"></ion-icon>Bimbingan Melalui Whatsapp
  </ion-button>
</ion-content>
