<ion-header>
    <ion-toolbar>
      <ion-title>Pesan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <p>Chat Siswa Melalui Whatsapp</p>

    <br><br>
    <ion-card color="light">
        <div class="img-wrapper">
          <img src="./assets/siswaa.jpg" />
         
        </div>
        <ion-card-content class="ion-text-center">
          <h2>Siswa</h2>
          <br>
          <h2>Nama : Ahmad Roul Marufi</h2>
          <p>Telp : 082250016434</p>
 
        </ion-card-content>

        <ion-button  expand="block"  color="success"  href="http://api.whatsapp.com/send?phone=6282250016434&amp;text=Apakah anda ingin melakukan bimbingan?" rel="noopener noreferrer" target="_blank">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-card>
  </ion-content>
  