<ion-header>
    <ion-toolbar> 
      <ion-title>Menu</ion-title>
        <ion-avatar  class="image-center">
            <img name="profile_pic" src="assets/siswaa.jpg">
          </ion-avatar>  
    </ion-toolbar>
  </ion-header>
  
<ion-content>

    <ion-toolbar>
        <p>Selamat Datang</p>
        <p>Nama : {{user?.userName}}</p>
        <p>Nisn : {{user?.userNisn}}</p>
      </ion-toolbar>



    <ion-card routerLink="/profile2">
      <ion-card-content>
      <ion-img src="assets/profil.png"></ion-img>
    </ion-card-content>
      </ion-card>





      <ion-card routerLink="/profil-pembayaran">
        <ion-card-content>
        <ion-img src="assets/pembayaran.png"></ion-img>
      </ion-card-content>
        </ion-card>

 


    <ion-card routerLink="/chat2">
      <ion-card-content>
      <ion-img src="assets/konfirmasi.png"></ion-img>
    </ion-card-content>
      </ion-card>
  
      
    </ion-content>