<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/pilihan"></ion-back-button>
        </ion-buttons>
    <ion-title>orang tua</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card routerLink="/tamukelas">
      <ion-card-content>
      <ion-img src="assets/pembayaran.png"></ion-img>
    </ion-card-content>
      </ion-card>

      <ion-card routerLink="/chat2">
        <ion-card-content>
        <ion-img src="assets/konfirmasi.png"></ion-img>
      </ion-card-content>
        </ion-card>
</ion-content>
