<ion-content padding class="background">
  <br><br><br><br><br><br><br><br>

  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>

  <ion-button color="light" type="submit"   expand="block" shape="round" [routerLink]="['/login2']">Sebagai Siswa</ion-button>
  <ion-button color="light" type="submit"   expand="block" shape="round" [routerLink]="['/tamu']">Sebagai orang tua</ion-button>

</ion-content>
