<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/utama-siswa"></ion-back-button>
    </ion-buttons>
    <ion-title>PEMBAYARAN</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="editProfile()">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<br>
<ion-content class="ion-padding">


    <ion-card color="light">
        <div class="img-wrapper">
          <img src="./assets/bayar.png"/>
         
        </div>
        <ion-card-content class="ion-text-center">
          <h2>Nama : {{user?.userName}}</h2>
          <p>Nisn : {{user?.userNisn}}</p>
          <p>Jenis Kelamin : {{user?.userGenre}}</p>
          <p>Telp : {{user?.userPhone}}</p>
     


          <ion-text color="medium">
            <div style="display: flex;" class="ion-justify-content-center">
              <ion-icon name="location-outline" color="medium">
              </ion-icon>
              <p>Alamat : {{user?.Alamat}}</p>
            </div>
          </ion-text>
          <p>Rekening : {{user?.userrekening}}</p>
          <p>Bulan : {{user?.userbulan}}</p>
        </ion-card-content>
      </ion-card>

  

</ion-content>

