<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/kelas-guru"></ion-back-button>
        </ion-buttons>

    <ion-title>Daftar</ion-title>

    <ion-buttons slot="end">
        <ion-button [routerLink]="['/add-x-ipa']">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let xipa of xipa">

        <ion-item-sliding>
            <ion-item color="light">
              <ion-label>
                 {{ xipa.namasiswa }}
               </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(xipa.id)">
                HAPUS
              </ion-item-option>
              <ion-item-option color="warning" [routerLink]="['/edit-x-ipa/', xipa.id]">
                  EDIT
                </ion-item-option>
                
            </ion-item-options>
          </ion-item-sliding>
    
        <ion-card-header>
          <p>KELAS        : {{ xipa.namakelas }}</p>
          <p>NO TELP      : {{ xipa.phone }}</p>  
          <p>PERMASALAHAN : {{ xipa.karakter }}</p> 
          <p>PENANGANAN   : {{ xipa.penanganan }}</p> 

          <ion-button expand="block" color="warning" [routerLink]="['/tabs/bimbingan-guru/', xipa.id]">Bimbingan</ion-button>
        </ion-card-header>
    
         
        </ion-card>

</ion-content>
