<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/utama-siswa"></ion-back-button>
      </ion-buttons>
      <ion-title>Pesan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <p>Chat Bendahara Melalui Whatsapp</p>

    <br><br>
    <ion-card color="light">
        <div class="img-wrapper">
          <img src="./assets/guruu.jpg" />
         
        </div>
        <ion-card-content class="ion-text-center">
          <h2>Bendahara</h2>
          <br>
          <h2>Nama : padel</h2>
          <p>Telp : 082273177594</p>
 
        </ion-card-content>

        <ion-button  expand="block"  color="success"  href="http://api.whatsapp.com/send?phone=6282271177594&amp;text=Saya Fadil Akbar ingin melakukan konfirmasi pembayaran SPP" rel="noopener noreferrer" target="_blank">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-card>
  </ion-content>
  