ion-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    margin: 16px 0 24px;
    position: relative;
    padding-top: 60px;
  
    .img-wrapper {
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      img {
        border-radius: 100px;
        width: 80px;
        height: 80px;
      }
  
      
  
        
      
    }
  }